<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.wzgbStatistics.mapper.WzgbStatisticsMapper">

    <select id="selectonesData" resultType="com.trtm.iot.wzgbStatistics.entity.WzgbStatistics" flushCache="true"
            useCache="false">
        select * from wzgb_statistics where statistics_time=#{format} and gongyingshangdanweibianma =#{gongyingshang} and shebeibianhao=#{shebeino} and cailiaoNo=#{cailiao}
    </select>

</mapper>
