<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.zhydreal.mapper.DeviceElectricRealdataMapper">

    <select id="selectzhydone" resultType="com.trtm.iot.zhydreal.entity.DeviceElectricRealdata" flushCache="true" useCache="false">
        SELECT * FROM `device_mixpile_realdata` where id >=#{id} limit 100
    </select>
    <select id="selectRealList" resultType="com.trtm.iot.zhydhistory.entity.DeviceElectricHistorydata" flushCache="true" useCache="false">
        select * from `device_electric_realdata`  where id >#{curid} and imei in (${shebeilist}) limit 100
    </select>

</mapper>
