<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.lowstrain_m.mapper.LowstrainSMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  lowstrain_s 
		WHERE
			 baseinfoid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.trtm.iot.lowstrain_m.entity.LowstrainS">
		SELECT * 
		FROM  lowstrain_s
		WHERE
			 baseinfoid = #{mainId} 	</select>
</mapper>
