<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.company_order_management.mapper.CompanyOrderManagementSMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  company_order_management_s 
		WHERE
			 ordernumber = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.trtm.iot.company_order_management.entity.CompanyOrderManagementS">
		SELECT * 
		FROM  company_order_management_s
		WHERE
			 ordernumber = #{mainId} 	</select>
</mapper>
