<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.safetyTunnelCarReal.mapper.SafetyTunnelCarRealMapper">
    <select id="selectLists" resultType="com.trtm.iot.safetyTunnelCarReal.entity.SafetyTunnelCarReal" flushCache="true" useCache="false">
        select *
        from safety_tunnel_car_real
        where id &gt; #{id}
        and shebeino in (${shebeino})
        limit 100
    </select>
</mapper>
