<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.bhzcfg.mapper.BhzChaobiaoCfgMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  bhz_chaobiao_cfg 
		WHERE
			 uid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.trtm.iot.bhzcfg.entity.BhzChaobiaoCfg">
		SELECT * 
		FROM  bhz_chaobiao_cfg
		WHERE
			 uid = #{mainId} 	</select>
</mapper>
