<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.qrcode.mapper.QrcodeMapper">


<!--    <select id="getQRlistByidN" resultType="com.trtm.iot.qrcode.entity.Qrcode">-->
<!--        SELECT-->
<!--        n as `number` ,	`id`,	SUBSTRING_INDEX( SUBSTRING_INDEX( uuid, ',', n ), ',', - 1 ) AS `uuid`-->
<!--        FROM-->
<!--        `qrcode`,-->
<!--        ( SELECT @rownum := @rownum + 1 AS n FROM ( SELECT @rownum := 0 ) r, `qrcode` ) x-->
<!--        WHERE id = 8232 	AND n &gt; 193 	AND n &lt;= 196 	AND n &lt;= 200-->
<!--       &#45;&#45;  WHERE id = #{id} 	AND n > #{minin}	AND n &lt;= #{maxn}	AND n &lt;= 200-->

<!--    </select>-->


</mapper>