<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.aiwarnmsg.mapper.AiWarnMsgMapper">

    <select id="selectByShebeiNo" resultType="com.trtm.iot.aiwarnmsg.entity.AiWarnMsg" flushCache="true"
            useCache="false">
        select *
        from ai_warn_msg
        where id>#{curid}
        and cid in  (${sbList})
    </select>
    <select id="selectWarnData" resultType="com.trtm.iot.aiwarnmsg.entity.AiWarnMsg" flushCache="true" useCache="false">
        select *
        from ai_warn_msg
        where id > #{curid}
        and cid in (${shebeilist})
        order by id asc limit 30
    </select>
</mapper>
