<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.renwudan.mapper.RenwudanScheduleMapper">

    <select id="queryones" resultType="com.trtm.iot.renwudan.entity.RenwudanSchedule" useCache="false" flushCache="true">
        select * from renwudan_schedule where shebei_no=#{shebei_no} and code=#{code} and isdel=0
    </select>

    <select id="selectrwdschedule" resultType="com.trtm.iot.renwudan.entity.RenwudanSchedule" useCache="false" flushCache="true">
        select * from renwudan_schedule where shebei_no=#{shebeiNo} and code=#{code} and isdel=0
    </select>
</mapper>
