<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.hc_datalinkage.mapper.HcDatalinkagePaveMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  hc_datalinkage_pave 
		WHERE
			 zbid = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.trtm.iot.hc_datalinkage.entity.HcDatalinkagePave">
		SELECT * 
		FROM  hc_datalinkage_pave
		WHERE
			 zbid = #{mainId} 	</select>
</mapper>
