<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.memberList.mapper.MemberListMapper">

    <select id="getperson" useCache="false" flushCache="true" resultType="com.trtm.iot.memberList.entity.MemberList">
        select * from member_list where person_id =#{personid}
    </select>

</mapper>
