<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.hc_project.mapper.HcProjectMapper">

    <select id="fingbhzSheBeiNo" resultType="string" flushCache="true" useCache="false">
        select pjId from hc_project where orgcode like concat(#{orgCode},'%')
    </select>
</mapper>