<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trtm.iot.bhzrecipe.mapper.BhzRecipedetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  bhz_recipedetail
		WHERE
			 recipeid = #{mainId} 	</delete>

	<select id="getPhb" resultType="com.trtm.iot.bhzrecipe.entity.BhzRecipepb" flushCache="true" useCache="false">

	</select>
</mapper>
